body {
  margin: 0;
  padding: 0;
  background-color: #cecece;
  box-sizing: border-box;
  overflow: visible;
}

.container {
  display: flex;
  margin-bottom: 20px;
  max-height: 90vh;
  flex-wrap: wrap;
}

.side-show {
  display: flex;
  flex-direction: column;
  margin: 60px 0px 88px 60px;
}
.image-div {
  cursor: pointer;
  margin-top: 10px;
  box-shadow: 6px 10px 10px 5px grey;
  border-radius: 10px;
  outline: none;
  display: flex;
  flex-direction: column;
}

.image-div img {
  border: 3px solid;
  border-color: transparent;
  object-fit: contain;
  width: 70px;
  height: 80px;
  border-radius: 10px;
  background: transparent;
}
.image-div img:hover {
  border: 3px solid blue;
}

.image-show {
  max-width: 90vh;
  max-height: 80vh;
  margin: 70px 0px 0px 30px;
}
.image-show img {
  mix-blend-mode: multiply;
  max-width: 100%;
  max-height: 100%;
  object-position: 200%;
  object-fit: contain;
}

.content-container {
  display: flex;
  flex-direction: column;
  margin: 70px 0px 100px 30px;
  width: 40%;
  padding-left: 10px;
  background-color: #dadbdd;
  border-radius: 10px;
}

.content-container h2 {
  font-size: 20px;
  text-align: justify;
  margin-top: 15px;
  font-weight: 200px;
  opacity: 0.5;
}
.content-container h3 {
  font-size: 25px;
  font-weight: 100;
  margin-top: -1px;
}
.content-container h4 {
  margin-top: 5px;
  font-size: 30px;
}
.content-container h4 span {
  opacity: 0.7;
  font-size: 20px;
  position: relative;
  content: "";
  top: 5px;
  right: 5px;
}

.size-container {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(2, auto);
  margin-left: 60px;
  gap: 10px 20px;
}
.size-container button {
  width: 100px;
  height: 40px;
  margin-top: -5px;
  border-radius: 200px;
  text-align: center;
  border: 1px solid transparent;
  outline: none;
  background-color: #aaadb0;
  font-size: 15px;
  text-transform: uppercase;
}
.size-container button:is(:hover, :focus) {
  background-color: cadetblue;
  color: white;
  border: 1px solid blue;
}

#size {
  font-size: 20px;
  font-weight: 300px;
  margin-top: -10px;
  text-transform: capitalize;
}
#size-error {
  position: relative;
  bottom: 6px;
  left: 10px;
  font-size: 17px;
}

.cart-button {
  width: 200px;
  height: 50px;
  text-align: center;
  border-radius: 20px;
  position: relative;
  border: transparent;
  font-size: 20px;
  font-weight: 400;
  border: 1px solid mediumseagreen;
  background-color: yellow;
  margin-left: 30px;
  position: relative;
}
.cart-container {
  display: flex;
  margin: 0px 0px 0px 40px;
}
.cart-button span {
  position: absolute;
  font-weight: 500;
  font-size: 25px;
  top: 10px;
  padding: 2px;
}

.cart-button:hover {
  border: 1px solid red;
  background-color: coral;
  color: white;
}
.footer {
  display: flex;
  justify-content: start;
  position: relative;
  background-color: black;
  border-radius: 30px;
  margin-left: 80%;
  margin-right: 80px;
  padding: 10px;
  overflow: hidden;
  bottom: 50px;
}
.footer-button {
  margin-left: 10px;
  width: 30px;
  height: 30px;
  background-color: #aaadb0;
  border-radius: 20px;
  border: 3px solid transparent;
}
.footer-button:is(:hover, :focus) {
  background-color: cadetblue;
  border: 3px solid #fb73bf;
}
.head {
  background: #000;
  border: 1px solid red;
  position: sticky;
  height: 40px;
  top: 10px;
}

.buy-container {
  display: flex;
  border: 1px solid red;
  background-color: coral;

  text-align: end;
  width: 50px;
  height: 50px;
  position: fixed;
  right: 0;
  top: 10px;
  padding: 10px;
  border-radius: 50%;
}
#cart {
  position: relative;
  top: 10px;
  left: 5px;
  font-size: 35px;
  color: #cecece !important;
}
.count {
  margin: 1px;
  height: max-content;
  width: max-content;
  padding: 2px;
  border-radius: 30px;
  font-size: 20px;
}

.cart-details-container {
  display: none;
  background-color: #fff;
  border: 1px solid #ccc;
  position: fixed;
  bottom: 0;
  right: 20px;
  width: 300px;
  padding: 10px;
}

.item-details-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: cornflowerblue;
  color: white;
  min-width: 35%;
  height: 100vh;
  padding: 20px;
  max-width: 35%;
}

.item-details-container.show {
  border: 1px solid red;
  display: block;
  overflow: scroll;
  #head4 {
    background-color: red;
    text-align: center;
  }
}
#red {
  background-color: green;
  display: inline-block;
  color: white;
  padding: 2px;
}
#red:hover {
  background-color: red;
}
